:root {
	--bg-color: #fff;
	--bg-color-contrast: #afafaf;
	--superellipse-width: 400px;
	--superellipse-height: 400px;
	--superellipse-border-radius: 20%;
	--overlap-inset: 15%;
	--overlap-offset: calc(1.1% * -1);
}

body {
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.container {
	width: 80%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

/* Superellipse Shape */
.superellipse {
	width: var(--superellipse-width);
	height: var(--superellipse-height);
	border-radius: var(--superellipse-border-radius);
	position: relative;
	background-color: var(--bg-color);
}

.superellipse::before,
.superellipse::after {
	content: '';
	position: absolute;
	z-index: -1;
	background-color: var(--bg-color-contrast);
}

.superellipse::before {
	border-radius: 2%/30%;
	top: var(--overlap-inset);
	bottom: var(--overlap-inset);
	right: var(--overlap-offset);
	left: var(--overlap-offset);
}

.superellipse::after {
	border-radius: 30%/2%;
	left: var(--overlap-inset);
	right: var(--overlap-inset);
	top: var(--overlap-offset);
	bottom: var(--overlap-offset);
}
